# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
ENV/

# Jupyter and IPython
.ipynb_checkpoints

# VSCode
.vscode/

# Data and model outputs
*.log
*.dat
*.pth
*.h5
*.ckpt

# User data and results
user_data/
model/

# OS files
.DS_Store
Thumbs.db

#Ignore cursor AI rules
.cursor/rules/codacy.mdc
